<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madero Art</title>
    <link rel="stylesheet" href="../css-js/style2.css">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- CABECERA -->
        <section id="header">

            <!-- LOGO -->
            <h1> <a href="index.html">Madero Art</a> </h1>

            <!-- CABECERA -->
            <nav id="nav">
                <ul>
                    <li class="current"> <a href="index.html">Pagina Principal</a> </li>
                    <li> <a href="carrito.html">Mi Carrito</a> </li>
                    <li> <a href="preguntas-frecuentes.html">Preguntas Frecuentes</a> </li>
                </ul>
            </nav>
            <br>

            <!-- CONTENEDOR -->
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- NUESTROS PRODUCTOS -->
                        <section>
                            <header class="major">
                                <h2>Nuestros Productos</h2>
                            </header>

                            <!-- SECCION DE PRODUCTOS -->
                            <div class="row">
                                
                                <!-- ATRIL EN MADERA -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/153138156416766"
                                            class="image featured"><img src="../images/atril.jpg" alt="" /></a>
                                        <header>
                                            <h3>Atril En Madera</h3>
                                            <p>Precio: $300.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 35cm de ancho, 120cm de alto y 40cm de profundidad.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: En madera nogal.
                                                <br>
                                                Color: Natural.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- CLOSET -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/157725905957991"
                                            class="image featured"><img src="../images/closet.jpg" alt="" /></a>
                                        <header>
                                            <h3>Closet Instalado</h3>
                                            <p>Precio: Volatil</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: El closet esta diseñado a las medida propuesta por el cliente.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: A eleccion del cliente.
                                                <br>
                                                Color: A elección del cliente.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- MESA DE NOCHE -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/157355642661684"
                                            class="image featured"><img src="../images/mesa-de-noche.png" alt="" /></a>
                                        <header>
                                            <h3>Mesa De Noche</h3>
                                            <p>Precio: $210.000 </p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 50cm de ancho, 80cm de alto y 36cm de profundidad.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: En aglomerado Triplex 18mm.
                                                <br>
                                                Color: A elección del cliente.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- MESA COQUETA -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/137582251305690"
                                            class="image featured"><img src="../images/mesa-coqueta.jpg" alt="" /></a>
                                        <header>
                                            <h3>Mesa Coqueta</h3>
                                            <p>Precio: $150.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: Diametro de 45cm y 80cm de alto.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Base en madera nogal y plataforma en MDF.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- PERCHERO -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/151276843269564"
                                            class="image featured"><img src="../images/perchero.png" alt="" /></a>
                                        <header>
                                            <h3>Perchero En Madera</h3>
                                            <p>Precio: $120.000 </p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 120 cm de largo y cuenta con 12 servicios.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Madera tipo nogal.
                                                <br>
                                                Color: A elección del cliente.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- PORTA LAPICEROS -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/151167796613802"
                                            class="image featured"><img src="../images/porta-lapiceros.png"
                                                alt="" /></a>
                                        <header>
                                            <h3>Porta Lapiceros</h3>
                                            <p>Precio: $20.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: Dimensión 17 cm de altura y diametro de 15cm.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Trompo de madera flor morado.
                                                <br>
                                                Color: Madera
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- ZAPATEROS -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/137603481303567"
                                            class="image featured"><img src="../images/zapateros.jpg" alt="" /></a>
                                        <header>
                                            <h3>Zapateros</h3>
                                            <p>Precio: $150.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 100cm alto x 37cm de ancho x 32cm de profundidad.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: MDF
                                                <br>
                                                Color: A elección del cliente.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- MESA AUXILIAR -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/137578971306018"
                                            class="image featured"><img src="../images/mesa-auxiliar.jpg" alt="" /></a>
                                        <header>
                                            <h3>Mesa Auxiliar</h3>
                                            <p>Precio: $100.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 90 cm de alto por 60 cm de 
                                                <br> largo.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Madera nogal y MDF.
                                                <br>
                                                Color: Pardo y wengue.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- COMEDOR -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/137599337970648"
                                            class="image featured"><img src="../images/comedor.jpg" alt="" /></a>
                                        <header>
                                            <h3>Comedor</h3>
                                            <p>Precio: $1.400.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: El comedor esta diseñado a las medida propuesta por el cliente.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: A eleccion del cliente.
                                                <br>
                                                Color: A elección del cliente.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- COMEDOR ARABE -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/189870862743495"
                                            class="image featured"><img src="../images/comedor-arabe.jpg" alt="" /></a>
                                        <header>
                                            <h3>Comedor Arabe</h3>
                                            <p> Precio: $1.600.000 </p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: Diámetro del círculo 110 cm
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Madera nogal y tela prana (lavable)
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- MESA CENTRO -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/a.117541849976397/153096063087642"
                                            class="image featured"><img src="../images/mesa-centro.jpg" alt="" /></a>
                                        <header>
                                            <h3>Mesa Centro</h3>
                                            <p>
                                                Precio: $80.000
                                            </p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: Altura 50 cm por 37 cm de diámetro.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Madera nogal.
                                            </p>
                                        </strong>
                                    </section>
                                </div>

                                <!-- CAMA DOBLE -->
                                <div class="col-4 col-6-medium col-12-small">
                                    <section class="box">
                                        <a href="https://www.facebook.com/maderoartibague/photos/180529973677584"
                                            class="image featured"><img src="../images/cama-doble.jpg" alt="" /></a>
                                        <header>
                                            <h3>Cama Doble</h3>
                                            <p>Precio: $850.000</p>
                                        </header>
                                        <strong>
                                            <p>
                                                Medidas: 140cm, estilo rustico.
                                            </p>
                                        </strong>
                                        <hr>
                                        <strong>
                                            <p>
                                                Material: Madera nogal.
                                                <br>
                                                Color: A eleccion del cliente.
                                                <br>
                                            </p>
                                        </strong>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- COPYRIGHT -->
        <div class="col-12">
            <div id="copyright">
                <ul class="links">
                    <li>&copy; MaderoArt Ibague. Todos Los Derechos Reservados.
                        <br> Proyecto Realizado Por: Julian Rodriguez.
                    </li>
                </ul>
            </div>
        </div>
        </section>
    </div>
</body>
</html>