<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madero Art</title>
    <link rel="stylesheet" href="../css-js/style2.css">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- CABEZERA -->
        <section id="header">

            <!-- LOGO -->
            <h1><a href="home.html">Madero Art</a></h1>

            <!-- CABECERA -->
            <nav id="nav">
                <ul>
                    <li> <a href="index.html">Pagina Principal</a> </li>
                    <li> <a href="carrito.html">Mi Carrito</a> </li>
                    <li class="current"> <a href="preguntas-frecuentes.html">Preguntas Frecuentes</a> </li>
                </ul>
            </nav>
            <br>

            <!-- PREGUNTAS FRECUENTES -->
            <header class="major">
                <h2>Preguntas Frecuentes</h2>
            </header>

            <!-- APARTIR DE AQUI SON LAS PREGUNTAS -->
            <strong class="centro">

                <h3>¿Los productos tienen garantia?</h3>
                <p>Si, los productos tienen una garantia de 30 dias por defectos de fabrica.</p>
                <br>

                <h3>¿En que material estan hechos los productos?</h3>
                <p>Los productos estan hechos en DFD. Si prefieres otro material se te puede
                    hacer a tu
                    gusto.</p>
                <br>

                <h3>¿Donde se encuentran ubicados?</h3>
                <p>Actualmente estamos ubicados en la ciudad de Ibague pero realizamos envios a
                    todo el pais.</p>
                <br>

                <h3>¿como pago?</h3>
                <p>En <strong>MaderoArt</strong> puedes pagar de forma fisica o por transferencia
                    online.</p>
                <br>

                <h3>¿hacen envios a otras ciudades?</h3>
                <p>Claro que si! Los envios los realizamos por la transportadora de tu gusto. (El
                    envio corre por tu cuenta)</p>
                <br>

                <h3>¿Cómo puedo ponerme en contacto con ustedes?</h3>
                <p>Atravez de nuestra pagina de Facebook; <a
                        href="https://www.facebook.com/maderoartibague/"><strong>Madero Art
                            Ibagué</strong></a> o atravez de nuestro <a
                        href="https://api.whatsapp.com/send?phone=573214170975">
                        <strong>Whatsapp</strong></a> </p>
            </strong>
        </section>

        <!-- COPYRIGHT -->
        <div class="col-12">
            <div id="copyright">
                <ul class="links">
                    <li>&copy; MaderoArt Ibague. Todos Los Derechos Reservados.
                        <br> Proyecto Realizado Por: Julian Rodriguez.
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</body>

</html>