<!DOCTYPE HTML>
<!--binSociety page v1
-->
<html>

<head>
	<title>Burger24</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<link rel="shortcut icon" href="../images/logo2.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../assets/ccs.css">
</head>

<body>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Logo -->
						<h1><a href="index.html" id="logo">Burger24</a></h1>
						<!-- Nav -->
						<nav id="nav">
							<a href="index.html">Inicio</a>
						</nav>
					</div>
				</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="row">
						<div class="col-6 col-12-medium">
							<!-- Banner Copy -->
							<p>
								<br>
								Las mejores hamburguesas de Ibague!
							</p>
							<center> <a href="https://www.facebook.com/burger24ibague/" class="button-large">Ver mas</a>
							</center>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<!-- Banner Image -->
							<a href="#" class="bordered-feature-image"><img src="banner.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 1 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- CLASICA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/clasica.jpg" alt="" /></a>
							<h2>CLASSIC</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, cebolla, tomate, lechuga, salsa de
								tomate y mayonesa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- SUPER BACON -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/bacon.jpg" alt="" /></a>
							<h2>SUPER BACON</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, tocineta ahumada, aro de cebolla
								apanado, tomate, lechuga y salsa de BBQ sweet.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CRISPY CHICKEN -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/pollo.jpg" alt="" /></a>
							<h2>CRISPY CHICKEN</h2>
							<p>
								Pan de papa, 100gr de pollo crispy, queso mozzarella, cebolla morada, tomate, lechuga y
								mayonesa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CALIFORNIA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/california.jpg" alt="" /></a>
							<h2>CALIFORNIA</h2>
							<p>
								Pan de papa, 125gr de res premium, queso cheddar, champiñones, cebolla grille, tomate,
								lechuga y salsa ranch.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 2 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- HAWAIANA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/hawaiana.jpg" alt="" /></a>
							<h2>HAWAIANA</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, jamon ahumado, piña, tomate,
								lechuga y salsa de tomate.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CHEESE -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/cheese.jpg" alt="" /></a>
							<h2> CHEESE </h2>
							<p>
								Pan de papa, 125gr de res premium, tocineta ahumada, queso mozzarella, queso cheddar
								fundido, queso crema y lechuga.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- GAUCHA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/gaucha.jpg" alt="" /></a>
							<h2>GAUCHA</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, chorizo argentino, chimichurri,
								tomate, lechuga y salsa de tomate.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CRIOLLA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/criolla.jpg" alt="" /></a>
							<h2>CRIOLLA</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, maíz tierno, plátano maduro, huevo
								frito y salsa de maíz dulce.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 3 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- MEXICANA -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images//mexicana.jpg" alt="" /></a>
							<h2> MEXICANA </h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, guacamole, pico e gallo y nachos.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- NEW YORK -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/new-york.jpg" alt="" /></a>
							<h2> NEW YORK </h2>
							<p>
								Pan de papa, 125gr de res premium, queso cheddar, tocineta ahumada, pepinillos, tomate, cebolla, lechuga y salsa especial de la casa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- BIG MONSTER -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="../images/big-moster.jpg" alt="" /></a>
							<h2> BIG MONSTER </h2>
							<p>
								Pan de papa, doble carne 125gr de res premium, queso mozzarella, queso cheddar, doble tocineta, doble aro de cebolla, tomate, lechuga y salsa BBQ.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>
		<center> <p> Por: Brayan Lopez - Huver Mauricio Rivera </p></center>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>