<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>MAC BURGER</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<link rel="shortcut icon" href="../images/logo2.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../assets/css/ccs.css">
</head>

<body>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Logo -->
						<h1><a href="index.html" id="logo">MAC BURGER</a></h1>
						<!-- Nav -->
						<nav id="nav">
							<a href="index.html">Inicio</a>
							<a href="otros-productos.html">Acompañantes</a>
							<a href="promos.html">Promociones</a>
						</nav>
					</div>
				</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="row">
						<div class="col-6 col-12-medium">
							<!-- Banner Copy -->
							<p>
								En nuestro establecimiento encontraras
								<br>
								Las mejores hamburguesas de Ibague!
								<br>
								Para domicilios puedes escribirnos a nuestro numero de contacto!
							</p>
							<center> <a href="https://api.whatsapp.com/send?phone=573112043469" class="button-large">Contacto</a>
							</center>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<!-- Banner Image -->
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/banner.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 1 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- CLASICA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/clasica.jpg" alt="" /></a>
							<h2>CLASSIC - 10.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, cebolla, tomate, lechuga, salsa de
								tomate y mayonesa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- SUPER BACON -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/bacon.jpg" alt="" /></a>
							<h2>SUPER BACON - 11.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, tocineta ahumada, aro de cebolla
								apanado, tomate, lechuga y salsa de BBQ sweet.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CRISPY CHICKEN -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/pollo.jpg" alt="" /></a>
							<h2>CRISPY CHICKEN - 10.500</h2>
							<p>
								Pan de papa, 100gr de pollo crispy, queso mozzarella, cebolla morada, tomate, lechuga y
								mayonesa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CALIFORNIA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/california.jpg" alt="" /></a>
							<h2>CALIFORNIA - 11.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso cheddar, champiñones, cebolla grille, tomate,
								lechuga y salsa ranch.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 2 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- HAWAIANA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/hawaiana.jpg" alt="" /></a>
							<h2>HAWAIANA - 11.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, jamon ahumado, piña, tomate,
								lechuga y salsa de tomate.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CHEESE -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/cheese.jpg" alt="" /></a>
							<h2> CHEESE - 11.000 </h2>
							<p>
								Pan de papa, 125gr de res premium, tocineta ahumada, queso mozzarella, queso cheddar
								fundido, queso crema y lechuga.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- GAUCHA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/gaucha.jpg" alt="" /></a>
							<h2>GAUCHA - 12.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, chorizo argentino, chimichurri,
								tomate, lechuga y salsa de tomate.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- CRIOLLA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/criolla.jpg" alt="" /></a>
							<h2>CRIOLLA - 12.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, maíz tierno, plátano maduro, huevo
								frito y salsa de maíz dulce.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 3 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- MEXICANA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images//mexicana.jpg" alt="" /></a>
							<h2> MEXICANA - 12.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso mozzarella, guacamole, pico e gallo y nachos.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- NEW YORK -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/new-york.jpg" alt="" /></a>
							<h2> NEW YORK - 12.000</h2>
							<p>
								Pan de papa, 125gr de res premium, queso cheddar, tocineta ahumada, pepinillos, tomate,
								cebolla, lechuga y salsa especial de la casa.
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- BIG MONSTER -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/big-moster.jpg" alt="" /></a>
							<h2> BIG MONSTER - 14.500</h2>
							<p>
								Pan de papa, doble carne 125gr de res premium, queso mozzarella, queso cheddar, doble
								tocineta, doble aro de cebolla, tomate, lechuga y salsa BBQ.
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>