<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>MAC BURGER</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<link rel="shortcut icon" href="../images/logo2.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../assets/css/ccs.css">
</head>

<body>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Logo -->
						<h1><a href="index.html" id="logo">MAC BURGER</a></h1>
						<!-- Nav -->
						<nav id="nav">
							<a href="index.html">Inicio</a>
                            <a href="otros-productos.html">Acompañantes</a>
							<a href="promos.html">Promociones</a>
						</nav>
					</div>
				</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="row">
						<div class="col-6 col-12-medium">
							<!-- Banner Copy -->
							<p>
								En nuestro establecimiento encontraras
								<br>
								Las mejores hamburguesas de Ibague!
								<br>
								Para domicilios puedes escribirnos a nuestro numero de contacto!
							</p>
							<center> <a href="https://api.whatsapp.com/send?phone=573112043469" class="button-large">Contacto</a>
							</center>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<!-- Banner Image -->
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/banner.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 1 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- PAPAS FRITAS -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/papas.jpg" alt="" /></a>
							<h2>PAPAS FRITAS - 3.000</h2>
							<p>
								Papas fritas 
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- COCA COLA -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/coca-cola.jpg" alt="" /></a>
							<h2>COCA COLA - 3.000</h2>
							<p>
								Coca cola 400 ml
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- SPRITE -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/sprite.jpg" alt="" /></a>
							<h2>SPRITE - 3.000</h2>
							<p>
								Sprite 400 ml
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- QUATRO -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/quatro.jpg" alt="" /></a>
							<h2>QUATRO - 3.000</h2>
							<p>
								Quatro 400 ml
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 2 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- COCA COLA ZERO -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/coca-cola-zero.jpg" alt="" /></a>
							<h2>COCA COLA ZERO - 3.000</h2>
							<p>
								Coca cola zero 400 ml
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>

</html>