<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>MAC BURGER</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<link rel="shortcut icon" href="../images/logo2.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../assets/css/ccs.css">
</head>

<body>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Logo -->
						<h1><a href="index.html" id="logo">MAC BURGER</a></h1>
						<!-- Nav -->
						<nav id="nav">
							<a href="index.html">Inicio</a>
							<a href="otros-productos.html">Acompañantes</a>
                            <a href="promos.html">Promociones</a>
						</nav>
					</div>
				</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="row">
						<div class="col-6 col-12-medium">
							<!-- Banner Copy -->
							<p>
								En nuestro establecimiento encontraras
								<br>
								Las mejores hamburguesas de Ibague!
								<br>
								Para domicilios puedes escribirnos a nuestro numero de contacto!
							</p>
							<center> <a href="https://api.whatsapp.com/send?phone=573112043469" class="button-large">Contacto</a>
							</center>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<!-- Banner Image -->
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/banner.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- PRODUCTOS 1 -->
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-3 col-6-medium col-12-small">
						<!-- PROMO BIG -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/clasica.jpg" alt="" /></a>
							<h2> PROMO BIG - 16.900</h2>
							<p>
								Burger Big Monster + Papas + Coca Cola 250ml
							</p>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<!-- SUPER BACON -->
						<section>
							<a href="https://api.whatsapp.com/send?phone=573112043469" class="bordered-feature-image"><img src="../images/bacon.jpg" alt="" /></a>
							<h2> NEW YORK X3 - 35.900</h2>
							<p>
								3 Burger New York + 3 Coca Colas 400ml
							</p>
						</section>
					</div>
                    <div class="col-6 col-12-medium">
                        <p>
                            <br>
                            Por el momento solo tenemos estas promociones, esperamos pronto tener mas promociones disponibles. Muchas gracias!
                        </p>
                    </div>
			</div>
		</section>
	</div>
</body>
</html>